<ilmari@ilmari.org> <ilmari@photobox.com>
<mattp@cpan.org> <mphillips@oanda.com>
Matt S Trout <mst@shadowcat.co.uk> <matthewt@hercule.scsys.co.uk>
Matt S Trout <mst@shadowcat.co.uk> <matthewt@89-16-177-128.no-reverse-dns-set.bytemark.co.uk>
<mail@tobyinkster.co.uk> <tobyink@cpan.org>
